
* {
    margin:0;
    padding:0;
}

body {
    background-color: #e0e0e0;
}

h1 {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-family: Stencil Std, fantasy;
    font-size: 3em ;
}

p {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 2em;


}

.eventName {

    position: absolute;
    left: 45%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 1.3em;

}

.location {

    position: fixed;
    left: 45%;
    top: 24%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 1.3em;

}



label{
  display: inline-block;
  width: 140px;
  text-align: left;
}

.forma {

position: fixed;
left: 45%;
top: 35%;
transform: translateX(-50%) translateY(-50%);

}